.article {
    &__banner {
        background-repeat: no-repeat;
        background-size: cover;
        height: 55vh;
        width: 100%;

        @media (max-width: 1300px) {
            height: 35vh;
        }

        @media (max-width: 800px) {
            height: 25vh;
        }

        @media (max-width: 450px) {
            height: 18vh;
        }
    }

    &__body {
        padding: 5rem 10rem 8rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: $fw-900;
    }

    &__content {
        font-size: 1.2rem;
        margin: auto 2rem;
    }

    &__author-img {
        max-width: 37px;
        height: auto;
    }

    &__date-time {
        font-size: .9rem;
    }

    .btn-like:hover, .btn-comment:hover {
        cursor: url("../img/cursor/handpointing.png"), pointer;
        transform: scale(1.1);
    }
}

.modal-header {
    &__title {
        font-size: 1.8rem;
    }

    &__qnt-comments {
        font-size: 1rem;
        top: 10%;
    }
}

.modal-body .form, .user-comment {
    border-color: rgba(0,0,0,0.3);
}

.user-comment {
    padding: 2rem;
}

@media (min-width: 992px) {
    .main-article {
        .navbar {
            padding: 3.4rem !important;
        }
    }
}

@media (max-width: 992px) {
    .article {
        &__body {
            padding: 3rem 2rem 6rem;
        }

        &__content {
            font-size: 1.2rem;
            margin: auto 1rem;
        }
    }
}

@media (max-width: 400px) {
    .article {
        &__title {
            font-size: 2rem;
        }
    }
}