/*colors*/
$blue-space: #1D5178;
$pink-space: #78395D;

/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$roboto: 'Roboto', sans-serif;


/*font weight */
$fw-100: 100;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;


body {
    font-family: $roboto;
    cursor: url("../img/cursor/default.png"), auto;
}

.main {
    &__img {
        height: 250px;
    }
}

.button:hover, a:hover {
    cursor: url("../img/cursor/handpointing.png"), pointer;
}

.blog-name {
    background: -webkit-linear-gradient(#7829AC, #6D9ABC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-subscribe {
    margin: 7rem 0 9rem;
    padding: 5rem 0;
}

/*dark theme*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bs-dark);
        color: var(--bs-white);
    }

    .navbar-brand, 
    .nav-link, 
    .nav-link:hover, 
    .navbar-nav .nav-link.active, 
    .navbar-nav .nav-link.show {
        color: var(--bs-white) !important;
    }

    .card,
    .card .button {
        color: var(--bs-white);
    }

    .card {
        border: none !important;
    }

    .footer {
        border-color: var(--bs-black) !important;
    }

    .card-body {
        background-color: var(--bs-black);
    }

    .card .button {
        border-color: var(--bs-white);
    }

    .card .button:hover {
        background-color: $blue-space;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .talk-to-us {
        &__form {
            .btn {
                border-color: var(--bs-light);
                color: var(--bs-light);
            }
        }
    }

    .modal-body {
        background-color: var(--bs-dark);
        
        .text-secondary {
            color: var(--bs-light) !important;
        }
    }
}