.header-container {
    .header {
        align-items: center;
        color: $white;
        background-image: linear-gradient(to right top, #78395d, #6d3d68, #5f4371, #4e4877, #3b4c7a, #204c71, #074965, #004657, #053b3e, #122e28, #162218, #14160c);
        height: 50vh;

        &__title {
            font-size: 2.6rem;
        }
    }
}