.subscribe {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background-image: url(../../assets/img/astronaut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--bs-white);
    height: 98%;
    width: auto;
    margin-top: 6px;
    
    &__title {
        font-size: 1.5rem;
    }
}