.subscribe {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background-image: url(../../assets/img/astronaut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: var(--bs-white);
    margin: 7px 0;
    top: 0;
    bottom: 0;
    width: 24.5%;
    
    &__title {
        font-size: 1.5rem;
    }
}