/*colors*/
/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*font weight */
body {
  font-family: "Roboto", sans-serif;
  cursor: url("../img/cursor/default.png"), auto; }

.main__img {
  height: 250px; }

.button:hover, a:hover {
  cursor: url("../img/cursor/handpointing.png"), pointer; }

.blog-name {
  background: -webkit-linear-gradient(#7829AC, #6D9ABC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.section-subscribe {
  margin: 7rem 0 9rem;
  padding: 5rem 0; }

/*dark theme*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bs-dark);
    color: var(--bs-white); }

  .navbar-brand,
  .nav-link,
  .nav-link:hover,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: var(--bs-white) !important; }

  .card,
  .card .button {
    color: var(--bs-white); }

  .card {
    border: none !important; }

  .footer {
    border-color: var(--bs-black) !important; }

  .card-body {
    background-color: var(--bs-black); }

  .card .button {
    border-color: var(--bs-white); }

  .card .button:hover {
    background-color: #1D5178; }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

  .talk-to-us__form .btn {
    border-color: var(--bs-light);
    color: var(--bs-light); }

  .modal-body {
    background-color: var(--bs-dark); }
    .modal-body .text-secondary {
      color: var(--bs-light) !important; } }
.header-container .header {
  color: var(--bs-white);
  background-image: linear-gradient(to right top, #3d2381, #302377, #30144e, #380c3c, #260d00, #180d00, #090907); }
  .header-container .header__title {
    font-size: 2.3rem; }
.header-container .nav-link:hover {
  font-weight: 700; }
.header-container .dropdown-item {
  width: max-content; }

@media (max-width: 768px) {
  .dropdown-item {
    width: unset !important; } }
.drafts {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem; }
  .drafts__title {
    font-size: 2rem; }
  .drafts .card {
    border: 1px solid var(--bs-gray-200);
    height: 100%; }
    .drafts .card:hover {
      opacity: .9; }
    .drafts .card .card-title {
      font-size: 1.1rem;
      font-weight: 700; }
    .drafts .card .card-text, .drafts .card .card-date, .drafts .card .card-authors-name {
      font-size: .8rem; }
    .drafts .card .card-img {
      max-width: 37px;
      height: auto; }
    .drafts .card .button {
      font-size: .9rem; }

.footer {
  border: 1px solid var(--bs-gray-200); }

.main-talk-to-us .footer, .main-article .footer {
  margin-top: 3rem;
  border: none; }

@media (max-width: 992px) {
  .footer {
    border: none; } }
.subscribe {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-image: url(../../assets/img/astronaut.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  color: var(--bs-white);
  margin: 7px 0;
  top: 0;
  bottom: 0;
  width: 24.5%; }
  .subscribe__title {
    font-size: 1.5rem; }

.talk-to-us__page-title {
  font-size: 2rem; }
.talk-to-us .form__btn {
  border: 1px solid var(--bs-border-color); }
.talk-to-us .form__btn:hover {
  background-color: var(--bs-border-color);
  color: var(--bs-dark); }
.talk-to-us .form__input {
  padding: .7rem; }

.article {
  padding: 8rem 13rem; }
  .article__title {
    font-size: 2.5rem;
    font-weight: 900; }
  .article__content {
    font-size: 1.2rem; }
  .article__author-img {
    max-width: 37px;
    height: auto; }
  .article__date-time {
    font-size: .9rem; }

@media (max-width: 992px) {
  .article {
    padding: 6rem 2rem; } }
@media (max-width: 400px) {
  .article__title {
    font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */
